@use 'styles/base/variable' as var;

.list-item-header {
	width: fit-content;
	max-width: var.$sm-breakpoint - (var.$pd-lg * 2);
	display: flex;

	span {
		display: inline;
		vertical-align: middle;
		font-size: var.$h5;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
