@use 'styles/base/variable' as var;

.list-item-header {
	max-width: 270px;
	display: flex;

	span {
		overflow: hidden;
		display: inline;
		vertical-align: middle;
		font-size: var.$h5;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
