@import '../../../../styles/base/variable';

.container {
	padding-left: $pd-lg;
	padding-right: $pd-lg;
}

.mainBox {
	border: solid white 1px;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-evenly;
	padding-left: $pd-lg;
	padding-right: $pd-lg;
	position: fixed;
	bottom: 0;
}

.menuBox {
	border: solid white 2px;
	width: 48px;
	height: 48px;
	text-align: center;
	cursor: pointer;
}

.myPageBox {
	border: solid white 2px;
	width: 60px;
	height: 48px;
	text-align: center;
	cursor: pointer;
}

.iconBox {
	border: solid white 2px;
	width: 40px;
	height: 26px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2px;
	margin-top: 2px;
}

.GreenToolBar {
	color: $primary;
}
