@import 'styles/base/variable';
@import 'styles/mixins/common';
@import 'styles/mixins/flex';

.emergency-page-layout-container {
	@include flex-column;

	#connecting-info {
		border: 1px solid $border-100;
		border-radius: 4px;
	}

	#ticket-info {
		div {
			border: 1px solid $border-100;
			border-radius: 4px;
		}
	}

	#emergency-container {
		#emergency-btn-group {
			@include flex-row($mr-lg);
			@include flex-align(between, center);

			button {
				flex-basis: 50%;
				border: 1px solid $border-100;
				border-radius: 4px;
			}
		}
	}
}
