@use 'styles/base/variable' as var;
@import 'styles/mixins/flex';

.video-consulting-page-layout-container {
	@include flex-column;
	@include flex-align(normal, center);
	position: relative;
	height: 100vh;

	#greenmate-video,
	#user-video {
		@include flex-column;
		@include flex-align(center, center);
		justify-content: center;
		align-items: center;

		svg {
			width: 60px;
			height: 60px;
			fill: var.$black-300;
		}
	}

	#greenmate-video {
		height: calc(100vh - 68px);
		background-color: var.$black-400;
	}

	#user-video {
		position: absolute;
		bottom: 80px;
		right: 12px;
		width: 33%;
		height: 25vh;
		border-radius: 4px;
		background-color: var.$black-400;

		svg:nth-child(2) {
			position: absolute;
			bottom: 4px;
			left: 4px;
			width: 25px;
			height: 25px;
		}
	}

	#video-consulting-menu {
		position: absolute;
		width: 100%;
		bottom: 0;
	}
}
