@use 'styles/base/variable' as var;
@import 'styles/mixins/flex';

.video-consulting-page-layout-container {
	@include flex-column;
	@include flex-align(normal, center);
	position: relative;
	height: 100vh;

	#greenmate-video {
		height: calc(100vh - 68px);
		border: 1px solid blue;
	}

	#user-video {
		position: absolute;
		bottom: 80px;
		right: 12px;
		width: 33%;
		height: 25vh;
		border: 3px solid gray;
	}

	#video-consulting-menu {
		position: absolute;
		width: 100%;
		bottom: 0;
	}
}
