.home-page-layout-container {
	display: flex;
	flex-direction: column;

	#banner {
		flex-basis: 60px;
	}

	#my-subcribe {
	}

	#menu {
		display: flex;
		justify-content: space-between;

		#booking {
			position: relative;
			flex-basis: 45%;
		}

		#emergency {
			flex-basis: 45%;
		}
	}
}
