

.home-page-layout-container {
    display: flex;
    flex-direction: column;

    #banner {
        border: 1px solid red;
        flex-basis: 60px;
    }

    #my-subcribe {
        border: 1px solid blue;
    }

    #menu {
        border: 1px solid pink;
        display: flex;

        #booking {
            flex-basis: 50%;
        }

        #emergency {
            flex-basis: 50%;


        }
    }


}