@use 'styles/base/variable' as var;
@import 'styles/mixins/common';

.user-profile-photo-container{
    text-align: center;
    img{
        min-width: var.$img-size-sm;
        border-radius: var.$rd-sm;
        @include border-gray;
    }

    .default {
        background-color: #8CDBA9;
        border-radius: var.$rd-sm;
        @include border-gray;
    }
    .default path{ 
        fill : #33AB5F;
    }

   
}