@use 'styles/base/variable' as var;
@import 'styles/mixins/flex';
@import 'styles/mixins/common';

@mixin buttonColor($color) {
	background-color: $color;
	border-radius: var.$rd-sm;
	color: var.$white;
}

.button-boxx {
	padding: var.$pd-sm;
	text-align: center;
	font-size: var.$h4;
	font-weight: 500;
	width: 100px;
	height: 40px;

	&.primary {
		@include buttonColor(var.$primary);
	}

	&.disabled {
		@include buttonColor(var.$black-200);
	}
}
