.menuBox {
    width: 60px;
    cursor: pointer;
}

.myPageBox {
	border: solid white 2px;
	width: 60px;
	height: 48px;
	text-align: center;
	cursor: pointer;
}

.iconBox {
	display: flex;
	gap: 2px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	img {
		display: block;
	}
}

.green {
	color: #03c75a;
}
