@use 'styles/base/variable' as var;
@import 'styles/mixins/flex';

.booking-page-layout {
	.icon-text-container {
		margin-bottom: var.$mb-content-sm;
	}

	#btn-container {
		button {
			font-size: var.$p3;
			width: 100%;
			height: 45px;
		}
	}
}
