@use 'styles/base/variable' as var;
@import 'styles/mixins/flex';

.info-list-item {
	@include flex-row(10px);

	span {
		font-size: var.$p1;
		margin-bottom: var.$mr-sm;

		&:nth-child(1) {
			min-width: 70px;
			color: var.$black-400;
		}

		&:nth-child(2) {
			font-weight: normal;
			color: var.$black-300;
		}
	}
}
