@use 'styles/base/variable' as var;

#video-consulting-page-layout-container {
    position: relative;

    #chart-display-wrap {
        padding: 30px;
        background-color: var.$white;
        position: absolute;
        width: 33vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 4px;

        h3 {
            text-align: center;
            margin-bottom: 10px;
        }

        .chart-display-wrap {
            // padding: 15px;
            margin: 15px;


        }
    }
}