@use '../base/variable' as var;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

html,
body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 10px;
	font-weight: $fw-500;
}

// font
body,
button,
input,
textarea {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 10px;
	font-weight: $fw-500;
	color: $black-500; // #222222
	line-height: 1.5;
	font-feature-settings: 'tnum';
}

input[type='number'] {
	font-feature-settings: 'tnum';
}

h1 {
	font-size: var.$h1;
}
h2 {
	font-size: var.$h2;
}
h3 {
	font-size: var.$h3;
}
h4 {
	font-size: var.$h4;
}
h5 {
	font-size: var.$h5;
}
h6 {
	font-size: var.$h6;
}

// 애플리케이션 컨테이너
.container {
	max-width: 500px;
	max-height: 1200px;
	margin: auto;
	background-color: var.$white;
	box-shadow: rgb(219, 219, 219) 0px 0px 10px;
}
