// 폰트 사이즈
$h1: 2rem; // h1
$h2: 1.8rem; // h2
$h3: 1.6rem; // h3

$p0: 0.8rem; // paragraph
$p1: 1rem; // paragraph
$p2: 1.25rem; // paragraph
$p3: 1.5rem; // paragraph
$p4: 1.6rem; // paragraph
$p5: 1.8rem; // paragraph
$p6: 2rem; // paragraph


// 폰트 두께
$fw-400: 400; // body
$fw-500: 500; // ranking price
$fw-600: 600; // slider title


// 폰트/배경 색상
$border-100: #E3E5E8;
$border-bg: #F5F5F5;

$primary: #03C75A;
$danger: #FF4343;
$success: #00C2FF;
$navy: #42526E;
$green: #00875A;
$light-green-500: #E8FFE0;

$white: #FFFFFF;
$light-400: #F7F7F7;
$light-500: #F3F3F3;
$black-100: #D3D3D3;
$black-200: #A7A7A7;
$black-300: #7A7A7A;
$black-400: #4E4E4E;
$black-500: #222222;
$black-600: #1B1B1B;
$black-700: #141414;
$black-800: #0E0E0E;
$black-900: #070707;

$ap-black-50: #222222 50%;
$ap-light-40: #FFFFFF 40%;
$ap-light-green-20 : rgba(0, 135, 90, 0.2);


// height
$h-header-lg: 60px; // pc
$h-header-md: 50px; // tablet
$h-header-sm: 40px; // phone

// margin
$mb-header: 10px;
$mb-h1: 20px;
$mb-h2: 10px;
$mb-content-lg: 30px;
$mb-content-md: 20px;
$mb-content-sm: 10px;

$mr-lg: 10px;
$mr-md: 6px;
$mr-sm: 4px;

$pd-lg: 10px;
$pd-md: 6px;
$pd-sm: 4px;


// 레벨
$l-video: 1000;
$l-bg: 2000;
$l-popup: 2001;
