// ChatButton.scss 파일
@use 'styles/base/variable' as var;
@import 'styles/mixins/flex';
@import 'styles/mixins/common';

@mixin buttonColor($color) {
	border-radius: 50%;
}

.consulting-menu-item {
	@include flex-row(var.$pd-lg);
	@include flex-align(center, center);
	border-radius: var.$rd-lg;
	padding: 10px;
	background-color: var.$white;

	& {
		path {
			fill: var.$navy;
		}

		&.danger {
			path {
				fill: var.$white;
			}
			background-color: var.$danger;
		}
	}

	&.active {
		background-color: var.$navy;

		path,
		circle {
			fill: white;
		}
	}
}
