@use 'styles/base/variable' as var;

.sidebar-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	#logo {
		flex-basis: 5%;
		padding: 15px;
	}

	#profile {
		flex-basis: 10%;
	}

	#menu {
		flex-basis: 35%;
	}

	#active-manage {
		flex-basis: 50%;
	}
}