@use 'styles/base/variable' as var;
@import 'styles/mixins/common';

.greenmate-setting-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: var.$rd-sm;
  @include border-gray
}

.gray-text {
  color: var.$black-300;
  font-size: var.$h5;
}