@use 'styles/base/variable' as var;
@import 'styles/mixins/flex';
@import 'styles/mixins/grid';

.chatting-page-layout-container {
    position: relative;
    flex-grow: 1;

    @include grid(20px);
    grid-template-columns: 1fr;

    #chatting-area {
        @include flex-column;
        justify-content: space-between;


        #chat-info {
            border: 1px solid red;
        }

        #chat-messages {
            border: 1px solid red;
        }

        #chat-input {
            bottom: 0;
            border: 1px solid red;
        }
    }

}