@use '../../../styles/base/variable' as var;
@use '../../../styles/mixins/responsive' as r;

.container {
	position: relative;
	max-width: 500px;
	margin: auto;
	background: var.$white;
	padding-left: var.$pd-lg;
	padding-right: var.$pd-lg;

	@include r.responsive(Phone) {
		background: red;
	}

	@include r.responsive(Tablet) {
		background: orange;
	}

	@include r.responsive(Desktop) {
		background: yellow;
	}
}
