@use 'styles/base/variable' as var;
@import 'styles/mixins/common';

.home-page-layout-container {
	display: flex;
	flex-direction: column;

	#banner {
		flex-basis: 60px;
	}

	#my-subcribe {
		font-weight: bold;
		padding-bottom: 155px;
		position: relative;

		#bottom {
			#right {
				.info-list-item {
					span {
						font-size: 1rem;
					}
				}
			}
		}
	}

	#menu {
		display: flex;
		gap: var.$mr-lg;
		justify-content: space-between;

		#booking {
			@include border-gray;
			flex-basis: 50%;
		}

		#emergency {
			flex-basis: 50%;
			display: flex;
			justify-content: space-between;
			flex-direction: column;

			div {
				@include border-gray;
			}
		}
	}
}
