@use 'styles/base/variable' as var;

.booking-list-item-container {
    margin-bottom: 15px;

    .booking-header {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center
    }

    .booking-info {
        text-align: start;
        display: flex;
        flex-direction: column;
        gap: 30px;

        h3 {
            font-weight: bold;
        }

        #detail {
            #detail-header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 10px;

                button{
                    padding: 5px;
                    border-radius: var.$rd-sm;
                    border: 1px solid var.$danger;
                    color: var.$danger;
                    &:hover {
                        background-color: var.$danger;
                        border: 1px solid var.$danger;
                        color:white
                    }
                }
            }
        }

        #advice {
            font-size: 1.4em;
        }

    }
}