@import 'styles/base/variable';
// @import 'styles/mixins/flex';

.detail-container {
	border: 1.5px solid $border-100;
	border-radius: $rd-sm;
	// background-color: $border-bg;

	.title {
		display: flex;
		font-size: $h3;
		color: $black-400;
		align-items: center;
		margin: 15px;
		position: relative;
	}

	.grey-box {
		background-color: $border-bg;
		border-radius: $rd-sm;
		margin: 20px;
		// padding-top: 15px;

		.content-box {
			padding: 15px;

			.dates {
				display: flex;
				margin: 10px;
				margin-top: 3px;

				.leftdate {
					color: $black-400;
					font-size: $h5;
				}

				.rightdate {
					color: $black-300;
					margin-left: 15px;
					font-size: $h5;
					font-weight: normal;
				}
			}

			.content {
				display: flex;
				margin: 10px;
				margin-top: 3px;
				margin-left: 5px;
				color: $black-300;
				font-size: $h5;
				font-weight: normal;
			}
		}
	}

	.h3 {
		font-size: $h4;
		color: $black-500;
	}

	.flexgrow1 {
		flex-grow: 8;
	}

	.flexgrow2 {
		// flex-grow: 1;
		display: flex;
		position: absolute;
		top: 50%;
		right: 6%;
		transform: translateY(-50%);
	}

	.flexgrow3 {
		flex-grow: 1;
		display: flex;
		position: absolute;
		top: 57%;
		right: 0;
		transform: translateY(-50%);
	}

	.mt-5 {
		margin-top: 5px;
	}
}
