@use "sass:math";
@use '../../../../styles/base/variable' as var;

@mixin badgeColor($color) {
	border: 2px solid $color;
	color: $color;
	border-radius: var.$rd-lg;
}

.badge-container {
	width: fit-content;
	min-width: 60px;

	span {
		font-size: var.$p0;
		padding: math.div(var.$pd-sm, 2) var.$pd-sm;
	}

	.primary {
		@include badgeColor(var.$primary);
	}
	.danger {
		@include badgeColor(var.$danger);
	}
	.success {
		@include badgeColor(var.$success);
	}
	.disabled {
		@include badgeColor(var.$disabled);
	}
}
