@use 'styles/base/variable' as var;

.subscribes-list-item-container {
    border: 1px solid red;
    width: 100%;
    height: 100px;

    &.active {
        background-color: var.$light-green-500;
    }
}