@import 'styles/base/_variable.scss';

.greenmate-info-outer-box {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.greenmate-img-box {
	display: flex;
	// flex-direction: row;
	align-items: center;
	gap: 10px;
	img {
		width: 40px;
		height: 40px;
	}
}

.planty-logo-box {
	margin-bottom: 20px;
}

.gray-text {
	color: $black-300;
}
