@import 'styles/base/_variable.scss';

.request-outer-box {
	border: solid $border-100 2px;
	border-radius: $rd-md;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	height: 70px;
	padding: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: FFFFFF;
}

.request-left-box {
	display: flex;
	gap: 10px;
	margin-left: 10px;
}

.right-end {
	display: flex;
	justify-content: flex-end;
}

.request-right-box {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-right: 10px;
}

.green-text {
	color: $primary;
}

.bold-text {
	font-weight: bold;
}
