@use 'styles/base/variable' as var;

.emergency-list-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: var.$rd-md;
    font-weight: bold;
    width: 90%;
    min-height: 100px;
    margin-bottom: 15px;

    #type {
        flex-basis: 15%;
        font-size: 2em;
    }

    #info {
        font-size: 1.5em;
        text-align: start;
        flex-basis: 75%;
    }

    #next {
        flex-basis: 10%;
    }

    &.active {
        background-color: var.$light-green-500;
    }

}