@import 'styles/base/variable';
@import 'styles/mixins/common';
@import 'styles/mixins/flex';

#participate-btn {
	display: flex;
	justify-content: center;
}

#emergency-box {
	@include border-gray;
	border-radius: $rd-sm;
}
