.tab-panel-container {
    display: flex;
    flex-direction: column;
    padding: 10px;

    &#simple-tabpanel-1 {
        flex-grow: 1;
    }

    &>div>.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

}