@use '../base/variable' as var;
@use '../mixins/responsive' as r;

.container {
	width: 100%;
	background: #fff;
	padding-left: var.$pd-lg;
	padding-right: var.$pd-lg;

	@include r.responsive(Phone) {
		background: red;
	}

	@include r.responsive(Tablet) {
		background: orange;
	}

	@include r.responsive(Desktop) {
		background: yellow;
	}
}
