@use 'styles/base/variable' as var;
@import 'styles/mixins/common';
@import 'styles/mixins/flex';

.infolist-box {
	@include border-gray;
	border-radius: var.$rd-sm;

	.text-box {
		@include flex-column(2px);
		margin: 0;
		padding: 14px;

		.price-box {
			@include flex-row(20px);
			@include flex-align;

			span {
				font-size: 1.25rem;
			}

			span:nth-child(1) {
				min-width: 120px;
				color: #333;
			}

			span:nth-child(2) {
				color: #666;
			}
		}
	}
}
