.emergency-page-layout-container {
    display: flex;
    flex-grow: 1;

    #emergency-list {
        flex-basis: 50%;
        display: flex;
    }

    #emergency-detail {
        flex-basis: 50%;
        display: flex;
    }
}