@use 'styles/base/variable' as var;
@import 'styles/mixins/flex';

.empty-item-container{
    @include flex-column;
    @include flex-align(center,center);
    height: 186px;
    
    color: var.$black-300;
    font-size: 1.5em;
    text-align: center;
    white-space: pre-line;
}