// Booking.scss

@use 'styles/base/variable' as var;

@mixin TimeBox($color, $radius) {
	border: solid $color 1px;
	border-radius: $radius;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.grid-item {
	width: 100%;

	button {
		width: 100%;
		height: 40px;

		&.box {
			@include TimeBox(var.$border-100, var.$rd-sm);
			background-color: var.$light-400;
			color: var.$black-500;
		}

		&.active {
			@include TimeBox(var.$border-100, var.$rd-sm);
			background-color: var.$light-green-500;
			color: var.$black-500;
		}

		&.select {
			@include TimeBox(var.$border-100, var.$rd-sm);
			background-color: var.$primary;
			color: var.$white;
		}

		&.inactive {
			color: var.$black-500;
		}
	}
}
