@import 'styles/base/_variable.scss';

.current-progress-outer-box {
    display: flex;
    flex-direction: column;
}

.current-progress-left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current-progress-button-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.current-progress-right-box {
    display: flex;
    gap: 15px;;
    font-size: $h5
}

// .greenmate-img-box {
//     img {
//         width: 80px;
//         height: 80px;
//     }
// }

.current-progress-bt-box1 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.current-progress-text-box {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 10px;
}

.primary-text {
    color: $primary;
}

.current-progress-bt-right-box {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
}