@use 'styles/base/variable' as var;
@import 'styles/mixins/grid';

.setting-page-layout-container {
    display: flex;
    flex-direction: column;
    // flex-grow: 1;
    gap: 20px;

    @include grid(20px);
    grid-template-columns: 1fr;

    #left {
        @include grid(20px);
        grid-template-rows: 3fr 7fr;
    }

    #center {
        @include grid(20px);
        grid-template-rows: 1fr 1fr;
    }

    #right {
        @include grid(20px);
        grid-template-rows: 1fr;
    }

    #settings-box {
        align-items: center;
    }

    
}