@import 'styles/base/variable';

.detail-button {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	color: $black-200;
}

.margin-left {
	margin-left: 5px;
}
