.page-title-container {
	display: flex;
	flex-direction: row;
	gap: 4px;
	align-items: center;
	justify-content: flex-start;

	.icon-wrap {
		padding-top: 5px;
		margin-right: 4px;
	}

	h1 {
		display: inline-block;
	}
}
