@import 'styles/base/_variable.scss';

.pay-complete-box {
	border-radius: 10px;
	width: 340px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-weight: 500;
}

.pay-complete-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.product-title {
		font-size: 1.7rem;
		font-weight: normal;
		margin-bottom: 4px;
	}
}

.pay-complete-planty {
	font-size: $h1;
	color: #222222;
	margin-bottom: 10px;
}

.pay-complete-cost {
	font-size: $h1;
	color: $primary;
	margin-bottom: 10px;
}

.pay-complete-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;
	color: $black-200;
	font-size: 15px;
	position: absolute;
	// bottom: 30%;
	bottom: -70%;
	left: 50%;
	transform: translateX(-50%);
}

.pay-gray {
	background-color: gray;
	width: 100vh;
	height: 100vh;
}
