@use 'styles/base/variable' as var;

.list-item-title {
	max-width: 270px;
	display: flex;
	font-size: var.$h3;
	// max-width: calc(100% - 70px);
	a {
		display: flex;
		align-items: center;
	}
	span {
		overflow: hidden;
		display: inline;
		vertical-align: middle;
		white-space: nowrap;
		text-overflow: ellipsis;
		white-space: inherit;
	}
}
