@use 'styles/base/variable' as var;
@import 'styles/mixins/common';
@import 'styles/mixins/flex';

.subscribe-list-item-layout {
	@include border-gray;
	width: 100%;
	padding: 15px;
	border-radius: var.$rd-sm;
	background-color: var.$white;

	#top {
		@include flex-row(5px);
		@include flex-align(between, center);
		margin-bottom: 10px;
	}

	#bottom {
		display: flex;

		img {
			border-radius: var.$rd-sm;
			min-width: var.$img-size-xs;
			max-width: var.$img-size-xs;
			height: var.$img-size-xs;
			object-fit: cover;
		}

		#right {
			@include flex-column;
			padding: 0 var.$pd-lg;
			width: 100%;
			justify-content: space-between;

			.info-list-item {
				gap: 10px;

				span {
					font-size: var.$p2;
				}
			}
		}
	}
}
