@import 'styles/base/_variable.scss';

.class-info-box {
	border: solid $border-100 1px;
	// width: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: $rd-sm;
    margin-bottom: 10px;
}

.class-info-inner-box1 {
	display: flex;
	// justify-content: center;
	align-items: center;
    margin-left: 5px;
}

.img-box {
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 70px;
		height: 70px;
		border-radius: $rd-lg;
	}
}

.class-info-inner-box2 {
	display: flex;
  padding: 10px;
	align-items: center;
	justify-content: center;
}

.gray-text {
	color: $black-300;
	font-style: italic;
}

.bold-text {
	font-weight: bold;


	margin-bottom: 5px;
}

.green-text {
	color: $green;
}
