@import 'styles/base/variable';
@import 'styles/mixins/common';
@import 'styles/mixins/flex';

.complete-container {
	min-width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -30%);
}
