@use 'styles/base/variable' as var;
@use 'styles/mixins/responsive' as r;

.page-layout {
	position: relative;
	padding-left: var.$pd-lg;
	padding-right: var.$pd-lg;
	padding-bottom: 70px;
	min-height: 100vh;
	max-height: 100vh;
	overflow-y: scroll;

	&.full-page-layout {
		padding-bottom: 1px;
	}

	@include r.responsive(Phone) {
		// background: red;
	}

	@include r.responsive(Tablet) {
		// background: orange;
	}

	@include r.responsive(Desktop) {
		// background: yellow;
	}
}
