@use 'styles/base/variable' as var;

// flex
@mixin flex-row($gap: 0) {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: $gap;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

// border
@mixin border-gray {
	border: 1px solid var.$border-100;
}
